body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: aquamarine;
}

.button {
  width: 80px;
  height: 80px;
  margin: 10px;
  display: inline-block;
  border: 2px solid white;
}

#orange {
  background: orange;
}

#pink {
  background: pink;
}

#black {
  background: black;
}

#green {
  background: green;
}
h2{
    color: rgb(57, 2, 255);
}
