.them{
    border: 2px solid black;
    height: 100px;
    width: 100px;
    margin: 50px;
    justify-content: center;
}

#white{
    background-color: white;
}
#grey{
    background-color: grey;
}
#yellow{
    background-color: yellow;
}
#red{
    background-color: red;
}
